h1 { font-family: 'Open Sans', helvetica, sans-serif; color: darkblue }
h2 { font-family: 'Open Sans', helvetica, sans-serif; color: darkblue }
h3 { font-family: 'Open Sans', helvetica, sans-serif; color: darkblue }
h4 { font-family: 'Open Sans', helvetica, sans-serif; color: darkblue; top-padding: .2em }
h5 { font-family: 'Open Sans', helvetica, sans-serif; color: darkblue; top-padding: .2em }

title { font-family: 'Open Sans', helvetica, sans-serif; color: darkblue }
A:link { color: blue }
A:visited { color: darkblue }
A:active { color: green }
A:hover { color: red }

body {
   font-family: 'Open Sans',tahoma,helvetica;
   font-size: 13pt;
   width: 720px;
   margin: 0 auto;
   margin-top: 10px;
}

h4 { margin-left: 0%; margin-right: 0% }
h3 { margin-left: 0%; margin-right: 0% }
h2 { margin-left: 0%; margin-right: 0% }
h1 { margin-left: 0%; margin-right: 0% }



